:root{
    --globalBlue : #697a8db0;
}

a{
    color: rgb(71, 71, 71);
    text-decoration: none;
}

a:visited{
    color: rgb(71, 71, 71);
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    position: relative;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 36, 87, 0.5);
    font-family: 'Playfair Display', serif;
    background: repeat center /cover fixed url('../PICTURES/landscape-nature-wilderness-walking-mountain-snow-864039-pxhere.com.jpg') ;
}

#banner{
    background-color: var(--globalBlue);
}

#billetTitle{
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px;
}

#billet{
    font-size: 1.1rem;
    background-color: var(--globalBlue);
}

#login_form{
    background-color: var(--globalBlue);
}

#form{
    background-color: rgb(38, 45, 65);
}

#commentForm{
    background-color: var(--globalBlue);
}

#home{
    background-color: rgba(245, 245, 245, 0.8);
}

.chapter1{
    background-color: #17a3b84b;
    font-size: 1.4rem;
}

.pict1{
    box-shadow: rgb(48, 48, 48) 5px 5px 5px;
}

#comments{
    background: var(--globalBlue);
}

.picture{
    width: 40%;
    height: auto;
    margin: auto;
}

#contactForm{
    background-color: var(--globalBlue);
}

#picture-home{
    box-shadow: black 5px 5px 10px;
}

#picture-accueil{
    box-shadow: black 5px 5px 10px;
}

.bg-form{
    background-color: #d6d6d6;
}

#footer{
    width: 100%;
    position: fixed;
    bottom: 0%;
    margin-bottom: 0px;
    background-color:  #343A40;
    color: white;
    z-index: 10;
}

li{
    margin: 20px;
}